@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&display=swap');

// Colors
$white: #ffffff;
$grey: #e5e5e5;
$yellow: #fca311;
$red: #F00314;
$blue: #14213d;
$black: #000000;

// Font
$ftitle: 48pt;
$ftext: 18pt;
$ftextminor: 14pt;

// Sizing
$mnav: 4vh;

// Transition
$trans: 0.2s ease-in-out;