@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&display=swap');

// Colors
$white: #ffffff;
$yellow: #fca311;
$red: #F00314;
$dark: #121212;

// Layers
$layer-light: rgba(0,0,0,0.1);
$layer-dark: rgba(255,255,255,0.1);

// Font
$ftitle: 48pt;
$ftextminor: 16pt;
$flight: #ffffff;
$fdark: #010101;

// Sizing
$mnav: 4vh;
$barsize: 55px;

// Transition
$trans: 150ms ease-in;

// Reset
*,
*::before,
*::after {

    // Sizing
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    // Font
    font-family: 'Fira Sans', sans-serif;
    font-size: $ftextminor;
    color: $fdark;
}

// Center Class
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Hidden
.hidden {
    display: none;
}

// Dark Mode
@media (prefers-color-scheme: dark) {

    // Font Color
    * {
        color: $flight;
    }
}