@import "main";


.main {

    // Left column
    .column1 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $grey;

        .column1Area {
            width: 80%;

            // Home button on nav
            p.nav {
                position: absolute;
                top: $mnav;
                            
                a {
                    transition: $trans;
                    color: $black;
                    text-decoration: none;
                    font-size: $ftextminor;

                    &:hover {
                        color: $yellow;
                    }

                    &:nth-of-type(1) {
                        font-weight: 600;
                        font-size: $ftext;
                        padding-right: 24px;
                    }
                }
            }

            p.title {
                font-size: $ftitle;
                font-weight: bold;
            }

            button.github {
                width: 8vw;
                min-width: 100px;
                height: 8vh;
                min-height: 50px;
                background-color: $yellow;
                font-size: $ftextminor;
                outline: none;
                border: none;
                cursor: pointer;
                transition: $trans;
                margin: 16px 0;

                &:hover {
                    background-color: $blue;
                    color: $white;
                }
            }
        }
    }

    .column2 {
        display: flex;
        align-items: center;
        justify-content: center;

        .about {
            width: 80%;

            p {
                font-size: $ftextminor;
            }
        }
    }
}