@import "main";
@import "sections";


// Inner Search Box
.left {
    
    // Sizing
    width: 80%;
    $barsize: 55px;     // Height of the search bar and button

    // Search Box
    input {

        // Sizing
        width: 30vw;
        min-width: 200px;
        height: $barsize;
        padding: 0 8px;

        // Theming
        background-color: $white;
        border: none;
        outline: none;

        // Font
        font-size: $ftextminor;
        color: $fdark;

        // Focused
        &:focus {

            // Sizing
            padding: 0 6px;

            // Theming
            border: 2px solid $dark;

        }
    }

    // Error Message
    .error {

        // Sizing
        width: 30vw;
        min-width: 200px;
        height: $barsize;
        padding: 0 8px;
        margin: 4px 0;

        // Theming
        background-color: $red;

        // Font
        color: $flight;
        line-height: $barsize;
    }
}

.right {
    p {

        // Sizing
        padding: 4px;

        // Highlighted
        span {
            font-weight: bold;
        }

        // City
        &#city {
            
            // Sizing
            padding-bottom: 10px;

            // Font
            font-size: $ftitle;
            font-weight: bold;
        }
    }
}

// Dark Mode
@media (prefers-color-scheme: dark) {

    // Search Bar
    input {

        // Theming
        background-color: $dark !important;
        color: $flight !important;

        // Focused
        &:focus {
            border: 2px solid $white;
        }
    }
}